*{
    margin: 0;
}
.mainContainer{
    height: 1271px;
    width: 1728px;
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    gap: 20px;
    
}
.mainContainer p{
    font-size: large;
    color: #FFFFFF;
 
    
}
.item1{
    width: 506px;
    height: 311px;
    border: 2px solid #808080;
    border-radius: 20px;
    margin-left: 41px;
    margin-top: 205px;
}
.item2{
    width: 500px;
    height: 355px;
    border: 2px solid #808080;
    border-radius: 20px;
    margin-left: 41px;
}
.item3{
    width: 506px;
    height: 306px;
    border: 2px solid #808080;
    border-radius: 20px;
    margin-left: 41px;
}
.item4{
    width: 1102px;
    height: 1055px;
    border: 2px solid #808080;
    border-radius: 20px;
    margin-right: 42px;
    margin-top: 41px;
   padding-bottom: 40px;
   margin-bottom: 20px;
}
.item4 p{
font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 48px;
padding-left: 40px;
padding-top: 30px;
}
.item4 table{
      border: 2px solid #808080;
      width: 1013px;
      height: 874px;
      border-radius: 20px;
      border-collapse: collapse;
      margin-left: 52px;
      margin-bottom: 33px;
      margin-right: 37px;
      margin-top: 40px;
      
      
}
th{
    border: 2px solid #808080;
}
td{
    border: 2px solid #808080;
    text-align: center;
}

input{
width: 30px;
height: 30px;
border: 1px solid #808080;
border-radius: 5px;
}
.item3 p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 29px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 43px;
}
section{
    padding-left: 44px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
}
.unordered{
    width: 400px;
    height: 274px;
    font-style: normal;
    padding: 47px 37px 34px 63px;
    font-family: 'Inter';
    font-weight: 200;
    font-size: 20px;
}
.item1 img{
width: 190px;
height: 190px;
border-radius: 1000px;
}
.item1 p{
    text-align: center;
}




